



.btn-main {
	background-color: #YOURCOLORID;
	color: #fff;
}

.cbp-l-filters-button .cbp-filter-item.cbp-filter-item-active, .cbp-l-filters-button .cbp-filter-item:hover,
.green,
.highlight,
.social-icons li a:hover {
    color: #YOURCOLORID!important
}

.bg-green {
	background-color: #YOURCOLORID!important
}

#back-to-top {
    background-color: #YOURCOLORID;
}

.separator {
    border-bottom: 2px solid #YOURCOLORID!important
}